#friut{
  width: 400px; 
  height: 300px;
  margin-left: 40%;
  margin-top: 4%;
}

html, body{
  margin:0;
  height: 100%;
  
}
body{
  background-color: bisque !important;
}

p{
  margin-right: 5px;
  margin-bottom: 0px !important;
}
